trunk/Vogue2 IMS.Business/Service References/DataServiceReference/DataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7008/DataService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Vogue2_IMS.DataService.Model" />
  <xs:import schemaLocation="http://localhost:7008/DataService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Vogue2_IMS.Service.Business.Model" />
  <xs:element name="UserValidator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserValidatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Vogue2_IMS.DataService.Model" minOccurs="0" name="UserValidatorResult" nillable="true" type="q1:ResultValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FuncSaveData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Vogue2_IMS.Service.Business.Model" minOccurs="0" name="functionParms" nillable="true" type="q2:FunctionParms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FuncSaveDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Vogue2_IMS.DataService.Model" minOccurs="0" name="FuncSaveDataResult" nillable="true" type="q3:ResultValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FuncBatchSaveData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Vogue2_IMS.Service.Business.Model" minOccurs="0" name="functionParms" nillable="true" type="q4:ArrayOfFunctionParms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FuncBatchSaveDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Vogue2_IMS.DataService.Model" minOccurs="0" name="FuncBatchSaveDataResult" nillable="true" type="q5:ArrayOfResultValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FuncGetResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Vogue2_IMS.Service.Business.Model" minOccurs="0" name="functionParms" nillable="true" type="q6:FunctionParms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FuncGetResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Vogue2_IMS.DataService.Model" minOccurs="0" name="FuncGetResultsResult" nillable="true" type="q7:ResultValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>