trunk/Vogue2 IMS.Business/Service References/DataServiceReference/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7008/DataService?xsd=xsd4" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7008/DataService?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7008/DataService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:7008/DataService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Vogue2_IMS.DataService.Model" />
      <xsd:import schemaLocation="http://localhost:7008/DataService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Vogue2_IMS.Service.Business.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_UserValidator_InputMessage">
    <wsdl:part name="parameters" element="tns:UserValidator" />
  </wsdl:message>
  <wsdl:message name="IDataService_UserValidator_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserValidatorResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_FuncSaveData_InputMessage">
    <wsdl:part name="parameters" element="tns:FuncSaveData" />
  </wsdl:message>
  <wsdl:message name="IDataService_FuncSaveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:FuncSaveDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_FuncBatchSaveData_InputMessage">
    <wsdl:part name="parameters" element="tns:FuncBatchSaveData" />
  </wsdl:message>
  <wsdl:message name="IDataService_FuncBatchSaveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:FuncBatchSaveDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_FuncGetResults_InputMessage">
    <wsdl:part name="parameters" element="tns:FuncGetResults" />
  </wsdl:message>
  <wsdl:message name="IDataService_FuncGetResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:FuncGetResultsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="UserValidator">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/UserValidator" message="tns:IDataService_UserValidator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/UserValidatorResponse" message="tns:IDataService_UserValidator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FuncSaveData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/FuncSaveData" message="tns:IDataService_FuncSaveData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/FuncSaveDataResponse" message="tns:IDataService_FuncSaveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FuncBatchSaveData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/FuncBatchSaveData" message="tns:IDataService_FuncBatchSaveData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/FuncBatchSaveDataResponse" message="tns:IDataService_FuncBatchSaveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FuncGetResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/FuncGetResults" message="tns:IDataService_FuncGetResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/FuncGetResultsResponse" message="tns:IDataService_FuncGetResults_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserValidator">
      <soap:operation soapAction="http://tempuri.org/IDataService/UserValidator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FuncSaveData">
      <soap:operation soapAction="http://tempuri.org/IDataService/FuncSaveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FuncBatchSaveData">
      <soap:operation soapAction="http://tempuri.org/IDataService/FuncBatchSaveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FuncGetResults">
      <soap:operation soapAction="http://tempuri.org/IDataService/FuncGetResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://localhost:7008/DataService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>