trunk/Vogue2 IMS.Business/Service References/DataServiceReference/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Vogue2_IMS.DataService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vogue2_IMS.DataService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7008/DataService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ResultValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Faild" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultTable" nillable="true" type="tns:ResultTable" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultValue" nillable="true" type="tns:ResultValue" />
  <xs:complexType name="ResultTable">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Columns" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Rows" nillable="true" type="q2:ArrayOfArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultTable" nillable="true" type="tns:ResultTable" />
  <xs:complexType name="ArrayOfResultValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultValue" nillable="true" type="tns:ResultValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultValue" nillable="true" type="tns:ArrayOfResultValue" />
</xs:schema>